body{
    background-color: #0c1123;
}

/* WORKS, BUT NEEDS WINDOW'S PERFORMANCE SETTING ON */

html{
    scroll-behavior: smooth;
}

/* footer (bubble for text) */

footer{
    background: #131b33;
    width: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Slide out (from the center) Popup */ 

.box.show{
    transform: translateX(0);
}

.box{
    color: rgb(231, 138, 138);
    background-color: #131b33;
    border-radius: 20px;
    height: 250px;
    width: 250px;
    font-size: medium;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 640px;
    transform: translateX(-150%);
    transition: transform 2s ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.box p{
    position: relative;
    bottom: 28px;
}

/* Entire Body Box Framework */

.bigbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate{
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}

/* Main block */

.frame{
    display: flex;
    flex-direction: column;
    background-color: #131b33;
    width: 600px;
    height: 420px;
    border-radius: 20px;
    justify-content: space-evenly;
    align-content: stretch;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.frame h3{
    position: relative;
    top: 4px;
}

.frame p{
    position: relative;
    bottom: 16px;
}

.frame img{
    position: relative;
    bottom: 16px;
}

/* Animation for block */

.newbox{
    position: relative;
    width: 608px;
    height: 424px;
    margin-top: 15px;
    border-radius: 22px;
    padding-top: 4px;
    grid-area: b;
    right: 250px;
    background: repeating-conic-gradient(from var(--a),#17f3fd 0%, #17f3fd 5%, transparent 5%,
    transparent 40%, #17f3fd 50%);
    animation:  animate 4s linear infinite;
}

/* Footer flex structure*/

.bottombody{
    position: flex;
    display: flex;
    justify-content: center;
    
}

#copyright{
    background: #131b33;
    border-radius: 18px;
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-wrap: wrap;
}

.title{
    background-color: #131b33;
    position: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    width: 200px;
    height: 50px;
}

.undertitle{
    background-color: #131b33;
    position: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    width: 400px;
    height: 50px;
    gap: 0px;
}

/* Popup testing */

/* open ("Gif Timeline") & close button (actually "close") */
#open {
    background-color: #131b33;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: rgb(231, 138, 138);
    cursor: pointer;
    padding: 3px 10px;
    font-size: 35px;
}

#close {
    color:#12255c;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    position: relative;
    left: 258px;
    bottom: 18px;
    height: 24px;
    width: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pop{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop.open{
    opacity: 1;
    z-index: 999;
}

.pop-inner{
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 138, 138);
    width: 620px;
    height: 460px;
    border-radius: 20px;
}

/* Custom positioning for items within flex box*/

.pop-inner p{
   position: relative;
   bottom: 38px;
   right: 0px;
   color: #12255c;
}

.pop-inner h2{
    position: relative;
    bottom: 8px;
    right: 0px;
    color:#12255c;
}

.pop-inner img{
    position: relative;
    bottom: 32px;
    right: 0px;
}

/* Background light animation*/

.poplight{
    position: flex;
    width: 628px;
    height: 464px;
    margin-top: 15px;
    border-radius: 22px;
    padding-top: 4px;
    background: repeating-conic-gradient(from var(--a),#17f3fd 0%, #17f3fd 5%, transparent 5%,
    transparent 40%, #17f3fd 50%);
    animation:  animate 4s linear infinite;
}

/* Year menu */

.menu_container{
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;

}

.menu_button{
    cursor: pointer;
    background-color: #131b33;
    color: rgb(231, 138, 138);
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    font-size: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;

}

.options_container{
    position: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 10px;
    display: none;
    transform-origin: top center;
    transition: opacity 0.3s, transform 0.3s;
}

.options_container.show {
    opacity: 1;
    display: flex;
    transform: translateY(10px) scaleY(1);
    transform-origin: top center;
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-10px) scaleY(0);
    }
    to {
      opacity: 1;
      transform: translateY(0) scaleY(1);
    }
  }

@keyframes slideOut {
    from {
      opacity: 1;
      transform: translateY(0) scaleY(1);
    }
    to {
      opacity: 0;
      transform: translateY(10px) scaleY(0);
    }
  }

/* menu popup Basic button for function*/

#menu_open {
    background-color: #131b33;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: rgb(231, 138, 138);
    cursor: pointer;
    padding: 3px 10px;
    font-size: 20px;
    position: absolute;
    top: 10px;
}

#menu_close {
    color: rgb(231, 138, 138);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    position: relative;
    left: 200px;
    top: 40px;
    height: 24px;
    width: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* menu popup Framework*/

.menu_pop{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_pop.open{
    opacity: 1;
    z-index: 999;
}

.menu_pop-inner{
    display: flex;
    flex-direction: column;
    background-color:#1b1d24;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

/* Menu popup options */

.button_container {
    position: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    border-radius: 100px;
    border: 2px solid black;
    border: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: black;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    outline: none;
    overflow: hidden;
    padding: 1em 2em;
    position: relative;
    width: 300px;
  }
  .button--white {
    color: white;
  }
  .pattern {
    background-color:#131b33;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .bg1 {
      background-image:url(images/frame0090.png)
  }
  .bg2 {
      background-image:url(school\ images/art.png)
  }
  .bg3 {
      background-image:url(gif\ images/christ.gif)
  }
  .bg4 {
      background-image:url()
  }
  .bg5 {
      background-image:url()
  }
  .inner {
    height: 100px;
    width: 400px;
  }
  .text {
    position: relative;
    opacity: 1;
    color:#0c1123;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000
  }
  .target {
    transform: translate(var(--x), var(--y));
  }
  .button:active .target {
    opacity: 0.7;
    transition: opacity 100ms;
  }